In [2]:
#https://mapping-api.herokuapp.com/exchange/NASDAQ
#https://mapping-api.herokuapp.com

In [3]:
import pandas as pd

List of companies and CIK and Exchange  
http://rankandfiled.com/#/data/tickers (downaloadable)

yet another ticker mappings https://dan.vonkohorn.com/2016/07/03/cik-ticker-mappings/

In [4]:
names = pd.read_csv('cik_ticker.csv', sep='|')

In [5]:
names.Exchange.unique()

array(['NYSE', nan, 'OTC', 'NASDAQ', 'OTCBB', 'NYSE ARCA', 'NYSE MKT',
       'BATS'], dtype=object)

In [6]:
NASDAQ = pd.read_json('https://mapping-api.herokuapp.com/exchange/NASDAQ')
len(NASDAQ)

2139

In [7]:
OTC = pd.read_json('https://mapping-api.herokuapp.com/exchange/OTC')
len(OTC)

2191

In [8]:
NYSE = pd.read_json('https://mapping-api.herokuapp.com/exchange/NYSE')
len(NYSE)

2736

In [9]:
df = pd.DataFrame()
df = df.append(NASDAQ)
df = df.append(OTC)
df = df.append(NYSE)

In [10]:
df.head()

,cik,exchange,irs,name,sic,ticker
0,1099290,NASDAQ,593404233,Sinocoking Coal & Coke Chemical Industries Inc,3312,AAC
1,6201,NASDAQ,751825172,American Airlines Group Inc,4512,AAL
2,8177,NASDAQ,581027114,Atlantic American Corp,6311,AAME
3,1158114,NASDAQ,760533927,Applied Optoelectronics Inc,3674,AAOI
4,320193,NASDAQ,942404110,Apple Inc,3571,AAPL

In [11]:
len(df)

7066

In [12]:
len(df.cik.unique())

7066

In [13]:
cik_codes = list(df.cik.unique())

In [14]:
cik_codes[:4]

[1099290, 6201, 8177, 1158114]

In [15]:
#edgar data shape /edgar/data/<CIK> / 0123456789-AB-CDEFGH.txt
#apple example https://www.sec.gov/Archives/edgar/data/320193/000032019319000119/0000320193-19-000119.txt

In [16]:
#browsig CIK
#https://www.sec.gov/cgi-bin/browse-edgar?CIK=1158114&owner=exclude&action=getcompany&Find=Search
#THIS ONE here is where the magic happens
#https://www.sec.gov/cgi-bin/browse-edgar?CIK=0000006201&type=10-K

In [52]:
#beautiful soup 
#https://www.digitalocean.com/community/tutorials/how-to-scrape-web-pages-with-beautiful-soup-and-python-3

---

In [19]:
import requests
from bs4 import BeautifulSoup
import re

In [2]:
page = requests.get('https://www.sec.gov/cgi-bin/browse-edgar?CIK=6201&type=10-K')

In [3]:
#object
soup = BeautifulSoup(page.text, 'html.parser')

In [4]:
## Pull all text from the table div
results_table = soup.find(class_='tableFile2')

In [5]:
# Pull text from all instances of <a> tag within BodyText div
results_items = results_table.find_all('a')

In [6]:
first_file = results_items[0].prettify()

In [7]:
first_file

'<a href="/Archives/edgar/data/6201/000000620119000009/0000006201-19-000009-index.htm" id="documentsbutton">\n Documents\n</a>\n'

In [8]:
matches=re.findall(r'\"(.+?)\"',first_file) #in python is r' '
#.+? is the "non-greedy" version of .+. It makes the regular expression match the smallest number of characters it can instead of the most characters it can

In [9]:
url_txt = 'https://www.sec.gov'+matches[0]
url_txt = url_txt.replace('-index.htm','.txt')

In [10]:
url_txt

'https://www.sec.gov/Archives/edgar/data/6201/000000620119000009/0000006201-19-000009.txt'

---
## Scrape Edgar

In [25]:
import requests
from bs4 import BeautifulSoup
import re

In [26]:
import time
from datetime import datetime, timedelta

In [27]:
#reduce the set to test
cik_codes = cik_codes[0:40]

In [28]:
def get_url(query):
    page = requests.get(query)
    page_parsed = BeautifulSoup(page.text, 'html.parser')
    results_table = page_parsed.find(class_='tableFile2')
    return results_table.find_all('a')

In [29]:
def get_txt_files(cik_codes):
    # INPUT = list of CIK codes
    docs_urls = []
    for cik in cik_codes:
        query = 'https://www.sec.gov/cgi-bin/browse-edgar?CIK='+str(cik)+'&type=10-K'
        results_files = get_url(query)
        #if there is no files in the registry means the table and list are empty
        if results_files != []:
            #print(str(query))
            results_items = results_files[0].prettify()  #here access the company
            raw_url = 'https://www.sec.gov'+re.findall(r'\"(.+?)\"',results_items)[0]
            url = raw_url.replace('-index.htm','.txt')
            docs_urls.append(url)
        else:
            docs_urls.append('no-url')
    return docs_urls

In [33]:
start_time = time.monotonic()

urls_files = get_txt_files(cik_codes)

sttime = datetime.now().strftime('%Y%m%d_%H:%M_')
end_time = time.monotonic()
ex_time = timedelta(seconds=end_time - start_time)
print("Execution time: {}".format(ex_time))

Execution time: 0:00:02.893475

In [38]:
len(urls_files)

40

In [43]:
df = df.head(40)
df['file'] = urls_files

/Users/pedrohserrano/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [45]:
df.head()

,cik,exchange,irs,name,sic,ticker,file
0,1099290,NASDAQ,593404233,Sinocoking Coal & Coke Chemical Industries Inc,3312,AAC,https://www.sec.gov/Archives/edgar/data/109929...
1,6201,NASDAQ,751825172,American Airlines Group Inc,4512,AAL,https://www.sec.gov/Archives/edgar/data/6201/0...
2,8177,NASDAQ,581027114,Atlantic American Corp,6311,AAME,https://www.sec.gov/Archives/edgar/data/8177/0...
3,1158114,NASDAQ,760533927,Applied Optoelectronics Inc,3674,AAOI,https://www.sec.gov/Archives/edgar/data/115811...
4,320193,NASDAQ,942404110,Apple Inc,3571,AAPL,https://www.sec.gov/Archives/edgar/data/320193...

In [47]:
urls_files[0]

'https://www.sec.gov/Archives/edgar/data/1099290/000114420417037280/0001144204-17-037280.txt'

In [ ]:
mda_regex = r"item[^a-zA-Z\n]*\d\s*\.\s*management\'s discussion and analysis.*?^\s*item[^a-zA-Z\n]*\d\s*\.*"

In [ ]:
with open(filenameopen, 'r', encoding='utf-8', errors="replace") as in_file:
                    content = in_file.read()
                    content = re.sub(html_regex,'',content)
                    content = content.replace('&nbsp;','')
                    content = re.sub(r'&#\d+;', '', content)
                    matches_mda = re.findall(mda_regex, content, re.IGNORECASE | re.DOTALL | re.MULTILINE)

In [49]:
response = requests.get(urls_files[0])
file_test = response.text
#file_test = open(, 'r', encoding='utf-8', errors="replace")

In [54]:
#WE GONNA DO PREPROCESSING ON THE FLY, YOU DONT WANNA STORE EACH DOCUMENT

In [53]:
print(file_test[:3000])

<SEC-DOCUMENT>0001144204-17-037280.txt : 20170719
<SEC-HEADER>0001144204-17-037280.hdr.sgml : 20170719
<ACCEPTANCE-DATETIME>20170719151214
ACCESSION NUMBER:		0001144204-17-037280
CONFORMED SUBMISSION TYPE:	10-K
PUBLIC DOCUMENT COUNT:		123
CONFORMED PERIOD OF REPORT:	20160630
FILED AS OF DATE:		20170719
DATE AS OF CHANGE:		20170719

FILER:

	COMPANY DATA:
		COMPANY CONFORMED NAME:			Hongli Clean Energy Technologies Corp.
		CENTRAL INDEX KEY:			0001099290
		STANDARD INDUSTRIAL CLASSIFICATION:	STEEL WORKS, BLAST FURNACES  ROLLING MILLS (COKE OVENS) [3312]
		IRS NUMBER:				593404233
		STATE OF INCORPORATION:			FL
		FISCAL YEAR END:			0630

	FILING VALUES:
		FORM TYPE:		10-K
		SEC ACT:		1934 Act
		SEC FILE NUMBER:	001-15931
		FILM NUMBER:		17972216

	BUSINESS ADDRESS:
		STREET 1:		KUANGGONG RD & TIYU RD 10TH FLR,
		STREET 2:		CHENGSHI XIN YONG SHE, TIYU RD, XINHUA
		CITY:			PINGDINGSHAN, HENAN PROVINCE
		STATE:			F4
		ZIP:			467000
		BUSINESS PHONE:		86-3752882999

	MAIL ADDRESS:
		STREET 1:		KUANGGONG RD & TIYU RD 10TH FLR,
		STREET 2:		CHENGSHI XIN YONG SHE, TIYU RD, XINHUA
		CITY:			PINGDINGSHAN, HENAN PROVINCE
		STATE:			F4
		ZIP:			467000

	FORMER COMPANY:
		FORMER CONFORMED NAME:	SINOCOKING COAL & COKE CHEMICAL INDUSTRIES, INC.
		DATE OF NAME CHANGE:	20100209

	FORMER COMPANY:
		FORMER CONFORMED NAME:	ABLEAUCTIONS COM INC
		DATE OF NAME CHANGE:	19991118
</SEC-HEADER>
<DOCUMENT>
<TYPE>10-K
<SEQUENCE>1
<FILENAME>v470794_10k.htm
<DESCRIPTION>10-K
<TEXT>
<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>UNITED STATES</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>SECURITIES AND EXCHANGE COMMISSION</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>WASHINGTON, DC 20549</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>FORM 10-K</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; text-indent: 0.5in">&nbsp;</P>

<table cellspacing="0" cellpadding="0" style="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<tr style="vertical-align: top">
    <td style="width: 1%">&nbsp;</td>
    <td style="width: 3%; font-size: 10pt"><FONT STYLE="font-family: Wingdings">&thorn;</FONT></td>
    <td style="width: 96%; font-size: 10pt"><FONT STYLE="font-family: Times New Roman, Times, Serif; text-transform: uppercase"><B>annual
    report pursuant to Section 13 or 15(d) of the Securities Exchange Act of 1934</B></FONT></td></tr>
</table>
<P STYLE="font: 10pt Times New Roman, Times, Seri

---

In [11]:
response = requests.get(url_txt)
data = response.text

In [19]:
data[:1000]

'<SEC-DOCUMENT>0000006201-19-000009.txt : 20190225\n<SEC-HEADER>0000006201-19-000009.hdr.sgml : 20190225\n<ACCEPTANCE-DATETIME>20190225073134\nACCESSION NUMBER:\t\t0000006201-19-000009\nCONFORMED SUBMISSION TYPE:\t10-K\nPUBLIC DOCUMENT COUNT:\t\t140\nCONFORMED PERIOD OF REPORT:\t20181231\nFILED AS OF DATE:\t\t20190225\nDATE AS OF CHANGE:\t\t20190225\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAmerican Airlines Group Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0000006201\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tAIR TRANSPORTATION, SCHEDULED [4512]\n\t\tIRS NUMBER:\t\t\t\t751825172\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t10-K\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t001-08400\n\t\tFILM NUMBER:\t\t19628071\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t4333 AMON CARTER BLVD\n\t\tCITY:\t\t\tFORT WORTH\n\t\tSTATE:\t\t\tTX\n\t\tZIP:\t\t\t76155\n\t\tBUSINESS PHONE:\t\t8179631234\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t4333 AMON CARTER BLVD\n\t\tCITY:\t\t\tFORT WORTH\n\t\tSTATE:\t\t\tTX\n\t\tZIP:\t\t\t75261-9616\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED '

In [18]:
file = open('company.txt','w')
file.write(data)

30572408

In [21]:
def getReadableEntity(text):
    text = text.replace("\\n", "\n")
    text = text.replace("\\r\\n", " ")
    text = text.replace("\\xc3\\xbc", "u")
    text = text.replace("\\xc3\\xa4", "a")
    text = text.replace("\\xc2\\xa7", "")
    text = text.replace("\\xc3\\x9f", "ss")
    text = text.replace("\\xc3\\xb6", "o")
    text = text.replace("\\xc3\\x84", "A")
    text = text.replace("\\xc3\\x9c", "U")
    text = text.replace("\\xc3\\xa9", "e")
    text = text.replace("\\xc3\\xa8", "e")
    text = text.replace("\\xc3\\x96", "O")
    text = text.replace("\\xc3\\xa0", "a")

    text = text.replace("\r\n", " ")
    text = text.replace("\xc3\xbc", "u")
    text = text.replace("\xc3\xa4", "a")
    text = text.replace("\xc2\xa7", "")
    text = text.replace("\xc3\x9f", "ss")
    text = text.replace("\xc3\xb6", "o")
    text = text.replace("\xc3\x84", "A")
    text = text.replace("\xc3\x9c", "U")
    text = text.replace("\xc3\xa9", "e")
    text = text.replace("\xc3\xa8", "e")
    text = text.replace("\xc3\x96", "O")
    text = text.replace("\xc3\xa0", "a")
    return text

In [23]:
print(getReadableEntity(data[:1000]))

<SEC-DOCUMENT>0000006201-19-000009.txt : 20190225
<SEC-HEADER>0000006201-19-000009.hdr.sgml : 20190225
<ACCEPTANCE-DATETIME>20190225073134
ACCESSION NUMBER:		0000006201-19-000009
CONFORMED SUBMISSION TYPE:	10-K
PUBLIC DOCUMENT COUNT:		140
CONFORMED PERIOD OF REPORT:	20181231
FILED AS OF DATE:		20190225
DATE AS OF CHANGE:		20190225

FILER:

	COMPANY DATA:
		COMPANY CONFORMED NAME:			American Airlines Group Inc.
		CENTRAL INDEX KEY:			0000006201
		STANDARD INDUSTRIAL CLASSIFICATION:	AIR TRANSPORTATION, SCHEDULED [4512]
		IRS NUMBER:				751825172
		STATE OF INCORPORATION:			DE
		FISCAL YEAR END:			1231

	FILING VALUES:
		FORM TYPE:		10-K
		SEC ACT:		1934 Act
		SEC FILE NUMBER:	001-08400
		FILM NUMBER:		19628071

	BUSINESS ADDRESS:
		STREET 1:		4333 AMON CARTER BLVD
		CITY:			FORT WORTH
		STATE:			TX
		ZIP:			76155
		BUSINESS PHONE:		8179631234

	MAIL ADDRESS:
		STREET 1:		4333 AMON CARTER BLVD
		CITY:			FORT WORTH
		STATE:			TX
		ZIP:			75261-9616

	FORMER COMPANY:
		FORMER CONFORMED

---
From EDGAR extraction implementation

In [13]:
# Text extraction patterns
mda_regex = r"item[^a-zA-Z\n]*\d\s*\.\s*management\'s discussion and analysis.*?^\s*item[^a-zA-Z\n]*\d\s*\.*"
qqd_regex = r"item[^a-zA-Z\n]*\d[a-z]?\.?\s*Quantitative and Qualitative Disclosures about " \
            r"Market Risk.*?^\s*item\s*\d\s*"
riskfactor_regex = r"item[^a-zA-Z\n]*\d[a-z]?\.?\s*Risk Factors.*?^\s*item\s*\d\s*"

In [16]:
re.findall(mda_regex, data, re.IGNORECASE | re.DOTALL | re.MULTILINE)

[]

In [17]:
data.find('Risk Factors')

60740